.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 14px;
}

.loadMoreBtn {
    font-size: 18px;
    padding: 10px;
    background-color: #deafe8;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}